.overall-principal {

    width: 750px;
    margin: auto;
    margin-top: 25px;
}

.overall-text {
    color: #0072BC;
    font-weight: bold;
}

.overall-info {
    background-color: #0072BC;
    color: white;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    text-align: center;
}

.overall-datos {

    align-content: center;
    height: 40px;
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    margin-top: 25px;
}

.overall-p {
    margin: auto;
    font-size: 12px;
}